header{
    color: white;
    background-color: black;
    text-align: center;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
}
body{
    background-color:rgb(247, 163, 8);

}
body:hover{
    background-color:rgb(18, 192, 18);
    animation-delay: 1s;
}